[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "~=3.13.1"
django-cors-headers = "*"
neomodel = "==4.0.8"
asgiref = "==3.5.2"
certifi = "==2021.10.8"
distlib = "==0.3.4"
filelock = "==3.6.0"
neo4j = "==4.4.3"
neo4j-driver = "==4.4.3"
neobolt = "==1.7.17"
numpy = "==1.22.4"
pandas = "==1.4.2"
pipenv = "==2022.5.2"
platformdirs = "==2.5.2"
python-dateutil = "==2.8.2"
pytz = "==2022.1"
six = "==1.16.0"
sqlparse = "==0.4.2"
tzdata = "==2022.1"
virtualenv = "==20.14.1"
virtualenv-clone = "==0.5.7"
python-dotenv = "~=0.20.0"
py2neo = "~=2021.2.3"
Django = "==4.0.4"
ez_setup = "==0.9"
Shapely = "==1.8.2"
igraph = "*"

[dev-packages]

[requires]
python_version = "3.10"
